In [20]:
import pandas as pd
titanic_data = pd.read_csv("D:\Docs and Books\Sample CSV FILES\snakes_count_1000.csv",
                           sep="\t")
titanic_data

    GameNumber, GameLength
0                     1,30
1                     2,29
2                     3,31
3                     4,16
4                     5,24
..                     ...
995                 996,24
996                 997,21
997                 998,47
998                 999,30
999                1000,12

[1000 rows x 1 columns]

In [2]:
titanic_data.head()

  Game Number, "Game Length"
0                      1, 30
1                      2, 29
2                      3, 31
3                      4, 16
4                      5, 24

In [3]:
type(titanic_data)

pandas.core.frame.DataFrame

In [4]:
titanic_data

    Game Number, "Game Length"
0                        1, 30
1                        2, 29
2                        3, 31
3                        4, 16
4                        5, 24
..                         ...
995                    996, 24
996                    997, 21
997                    998, 47
998                    999, 30
999                   1000, 12

[1000 rows x 1 columns]

In [5]:
# Each column is consider as series in Pandas
type(titanic_data.dtypes)

pandas.core.series.Series

In [6]:
dy = titanic_data.dtypes

In [12]:
type(dy)

pandas.core.series.Series

In [7]:
titanic_data

    Game Number, "Game Length"
0                        1, 30
1                        2, 29
2                        3, 31
3                        4, 16
4                        5, 24
..                         ...
995                    996, 24
996                    997, 21
997                    998, 47
998                    999, 30
999                   1000, 12

[1000 rows x 1 columns]

In [14]:
titanic_data[GameNumber]

NameError: name 'GameNumber' is not defined

In [9]:
t1 = titanic_data.dtypes

In [10]:
t1

Game Number, "Game Length"    object
dtype: object

In [16]:
#data Manupulation 
titanic_data[0:10:2]

  Game Number, "Game Length"
0                      1, 30
2                      3, 31
4                      5, 24
6                      7, 28
8                      9, 42

In [18]:
titanic_data['Game Length']

KeyError: 'Game Length'

In [19]:
titanic_data.describe()

       Game Number, "Game Length"
count                        1000
unique                       1000
top                         1, 30
freq                            1

In [21]:
titanic_data.describe()

       GameNumber, GameLength
count                    1000
unique                   1000
top                      1,30
freq                        1

In [24]:
titanic_data['GameNumber']

KeyError: 'GameNumber'

In [33]:
type(titanic_data[[][0:1000:10]])

pandas.core.frame.DataFrame

In [34]:
titanic_data.describe()

       GameNumber, GameLength
count                    1000
unique                   1000
top                      1,30
freq                        1

In [36]:
titanic_data.dtypes

GameNumber, GameLength    object
dtype: object

In [38]:
titanic_data[['GameLength']]

KeyError: "None of [Index(['GameLength'], dtype='object')] are in the [columns]"

In [41]:
d2 = pd.read_csv("D:\Docs and Books\Sample CSV FILES\ConsumerReportsNaughtyNiceList.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x97 in position 826: invalid start byte

In [42]:
import numpy as np

In [46]:
testData = np.where(titanic_data[0:100:2].isNull() == False)

SyntaxError: invalid syntax (Temp/ipykernel_4520/82561294.py, line 1)

In [47]:
testData = np.where(titanic_data['GameLength'].isNUll()==True)

KeyError: 'GameLength'

In [49]:
testData=[titanic_data['GameLength'].isnull() == True]

KeyError: 'GameLength'

In [50]:
testData = np.where(titanic_data['GameLength']==23)

KeyError: 'GameLength'

In [55]:
te2=[titanic_data[0:100:2]==25]

In [56]:
te2

[    GameNumber, GameLength
 0                    False
 2                    False
 4                    False
 6                    False
 8                    False
 10                   False
 12                   False
 14                   False
 16                   False
 18                   False
 20                   False
 22                   False
 24                   False
 26                   False
 28                   False
 30                   False
 32                   False
 34                   False
 36                   False
 38                   False
 40                   False
 42                   False
 44                   False
 46                   False
 48                   False
 50                   False
 52                   False
 54                   False
 56                   False
 58                   False
 60                   False
 62                   False
 64                   False
 66                   False
 68                   False
 70                   False
 72                   False
 74                   False
 76                   False
 78                   False
 80                   False
 82                   False
 84                   False
 86                   False
 88                   False
 90                   False
 92                   False
 94                   False
 96                   False
 98                   False]

In [57]:
import pandas as pd

In [58]:
player = pd.read_csv('D:\Docs and Books\Sample CSV FILES\players_15.csv')

In [59]:
player

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,FC Barcelona,...,62+3,62+3,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid,...,63+3,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3
2,9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,30,1984-01-23,180,80,Netherlands,FC Bayern München,...,64+3,64+3,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3
3,41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,Zlatan Ibrahimović,32,1981-10-03,195,95,Sweden,Paris Saint-Germain,...,61+3,65+3,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3
4,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,28,1986-03-27,193,92,Germany,FC Bayern München,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15460,220806,https://sofifa.com/player/220806/ellis-redman/...,E. Redman,Ellis Redman,17,1996-09-26,187,81,Wales,Newport County,...,37+0,38+0,38+0,38+0,37+0,40+0,41+0,41+0,41+0,40+0
15461,225509,https://sofifa.com/player/225509/aaron-collins...,A. Collins,Aaron Collins,17,1997-06-01,178,57,Wales,Newport County,...,31+0,30+0,30+0,30+0,31+0,32+0,31+0,31+0,31+0,32+0
15462,217591,https://sofifa.com/player/217591/piotr-zemlo/1...,P. Żemło,Piotr Żemło,18,1995-07-10,190,76,Poland,Wisła Kraków,...,48+0,46+0,46+0,46+0,48+0,51+0,53+0,53+0,53+0,51+0
15463,222947,https://sofifa.com/player/222947/tom-davies/15...,T. Davies,Tom Davies,22,1992-04-18,180,70,England,Fleetwood Town,...,37+0,36+0,36+0,36+0,37+0,39+0,40+0,40+0,40+0,39+0
15464,201197,https://sofifa.com/player/201197/paul-tisdale/...,P. Tisdale,Paul Tisdale,41,1973-01-14,175,72,Malta,Exeter City,...,36+0,37+0,37+0,37+0,36+0,34+0,33+0,33+0,33+0,34+0

In [60]:
player['long_name']

0             Lionel Andrés Messi Cuccittini
1        Cristiano Ronaldo dos Santos Aveiro
2                               Arjen Robben
3                         Zlatan Ibrahimović
4                               Manuel Neuer
                        ...
15460                           Ellis Redman
15461                          Aaron Collins
15462                            Piotr Żemło
15463                             Tom Davies
15464                           Paul Tisdale
Name: long_name, Length: 15465, dtype: object

In [61]:
player.dtypes

sofifa_id      int64
player_url    object
short_name    object
long_name     object
age            int64
               ...
lb            object
lcb           object
cb            object
rcb           object
rb            object
Length: 104, dtype: object

In [62]:
player.describe()

,sofifa_id,age,height_cm,weight_kg,overall,potential,value_eur,wage_eur,international_reputation,weak_foot,...,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning,mentality_composure
count,15465.000000,15465.000000,15465.000000,15465.000000,15465.000000,15465.000000,15465.0,15465.0,15465.000000,15465.000000,...,13762.000000,13762.000000,13762.000000,1703.000000,1703.000000,1703.000000,1703.000000,1703.000000,1703.000000,0.0
mean,189298.588425,24.763272,181.093631,75.482703,63.948594,68.483091,0.0,0.0,1.126350,2.932363,...,60.617861,50.000799,64.602456,64.709336,60.823840,59.455079,65.955373,43.900763,61.230182,NaN
std,39648.820272,4.624565,6.635182,6.907243,7.208610,6.611708,0.0,0.0,0.401362,0.652270,...,10.800142,15.850317,9.698882,7.855747,8.510626,8.689929,8.374343,8.440858,9.188257,NaN
min,2.000000,16.000000,155.000000,50.000000,40.000000,40.000000,0.0,0.0,1.000000,1.000000,...,25.000000,21.000000,28.000000,35.000000,36.000000,21.000000,31.000000,20.000000,38.000000,NaN
25%,178043.000000,21.000000,176.000000,70.000000,59.000000,64.000000,0.0,0.0,1.000000,3.000000,...,54.000000,33.000000,58.000000,59.000000,55.000000,53.000000,60.000000,39.000000,54.000000,NaN
50%,200844.000000,24.000000,181.000000,75.000000,64.000000,68.000000,0.0,0.0,1.000000,3.000000,...,62.000000,53.000000,66.000000,64.000000,61.000000,59.000000,65.000000,44.000000,61.000000,NaN
75%,214326.000000,28.000000,186.000000,80.000000,69.000000,73.000000,0.0,0.0,1.000000,3.000000,...,68.000000,63.000000,72.000000,70.000000,67.000000,65.000000,72.000000,49.000000,68.000000,NaN
max,225562.000000,44.000000,203.000000,110.000000,93.000000,95.000000,0.0,0.0,5.000000,5.000000,...,96.000000,90.000000,91.000000,88.000000,87.000000,92.000000,90.000000,66.000000,90.000000,NaN

In [63]:
import numpy as np

In [65]:
t1 = np.where(player['mentality_composure']=='NaN')

In [66]:
t1

(array([], dtype=int64),)

In [73]:
t2 = player['overall']>=60

In [74]:
t2

0         True
1         True
2         True
3         True
4         True
         ...
15460    False
15461    False
15462    False
15463    False
15464    False
Name: overall, Length: 15465, dtype: bool

In [77]:
# &operator with 
player[(player['weight_kg']>=75) & (player['height_cm']>=170)]

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid,...,63+3,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3
2,9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,30,1984-01-23,180,80,Netherlands,FC Bayern München,...,64+3,64+3,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3
3,41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,Zlatan Ibrahimović,32,1981-10-03,195,95,Sweden,Paris Saint-Germain,...,61+3,65+3,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3
4,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,28,1986-03-27,193,92,Germany,FC Bayern München,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,176580,https://sofifa.com/player/176580/luis-suarez/1...,L. Suárez,Luis Alberto Suárez Díaz,27,1987-01-24,181,81,Uruguay,FC Barcelona,...,67+3,67+3,67+3,67+3,67+3,62+3,57+3,57+3,57+3,62+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15455,11728,https://sofifa.com/player/11728/barry-richards...,B. Richardson,Barry Richardson,44,1969-08-05,185,77,England,Wycombe Wanderers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15456,211228,https://sofifa.com/player/211228/matthew-palme...,M. Palmer,Matthew Palmer,18,1995-08-01,179,79,England,Burton Albion,...,48+0,49+0,49+0,49+0,48+0,50+0,51+0,51+0,51+0,50+0
15459,214725,https://sofifa.com/player/214725/sam-ramsbotto...,S. Ramsbottom,Sam Ramsbottom,18,1996-04-03,196,80,England,Tranmere Rovers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15460,220806,https://sofifa.com/player/220806/ellis-redman/...,E. Redman,Ellis Redman,17,1996-09-26,187,81,Wales,Newport County,...,37+0,38+0,38+0,38+0,37+0,40+0,41+0,41+0,41+0,40+0
15462,217591,https://sofifa.com/player/217591/piotr-zemlo/1...,P. Żemło,Piotr Żemło,18,1995-07-10,190,76,Poland,Wisła Kraków,...,48+0,46+0,46+0,46+0,48+0,51+0,53+0,53+0,53+0,51+0

In [78]:
player.describe()

,sofifa_id,age,height_cm,weight_kg,overall,potential,value_eur,wage_eur,international_reputation,weak_foot,...,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning,mentality_composure
count,15465.000000,15465.000000,15465.000000,15465.000000,15465.000000,15465.000000,15465.0,15465.0,15465.000000,15465.000000,...,13762.000000,13762.000000,13762.000000,1703.000000,1703.000000,1703.000000,1703.000000,1703.000000,1703.000000,0.0
mean,189298.588425,24.763272,181.093631,75.482703,63.948594,68.483091,0.0,0.0,1.126350,2.932363,...,60.617861,50.000799,64.602456,64.709336,60.823840,59.455079,65.955373,43.900763,61.230182,NaN
std,39648.820272,4.624565,6.635182,6.907243,7.208610,6.611708,0.0,0.0,0.401362,0.652270,...,10.800142,15.850317,9.698882,7.855747,8.510626,8.689929,8.374343,8.440858,9.188257,NaN
min,2.000000,16.000000,155.000000,50.000000,40.000000,40.000000,0.0,0.0,1.000000,1.000000,...,25.000000,21.000000,28.000000,35.000000,36.000000,21.000000,31.000000,20.000000,38.000000,NaN
25%,178043.000000,21.000000,176.000000,70.000000,59.000000,64.000000,0.0,0.0,1.000000,3.000000,...,54.000000,33.000000,58.000000,59.000000,55.000000,53.000000,60.000000,39.000000,54.000000,NaN
50%,200844.000000,24.000000,181.000000,75.000000,64.000000,68.000000,0.0,0.0,1.000000,3.000000,...,62.000000,53.000000,66.000000,64.000000,61.000000,59.000000,65.000000,44.000000,61.000000,NaN
75%,214326.000000,28.000000,186.000000,80.000000,69.000000,73.000000,0.0,0.0,1.000000,3.000000,...,68.000000,63.000000,72.000000,70.000000,67.000000,65.000000,72.000000,49.000000,68.000000,NaN
max,225562.000000,44.000000,203.000000,110.000000,93.000000,95.000000,0.0,0.0,5.000000,5.000000,...,96.000000,90.000000,91.000000,88.000000,87.000000,92.000000,90.000000,66.000000,90.000000,NaN

In [79]:
t3=player[(player['age']>=24) & (player['weight_kg']>=75) & (player['height_cm']>=180)]

In [80]:
t3

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid,...,63+3,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3
2,9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,30,1984-01-23,180,80,Netherlands,FC Bayern München,...,64+3,64+3,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3
3,41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,Zlatan Ibrahimović,32,1981-10-03,195,95,Sweden,Paris Saint-Germain,...,61+3,65+3,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3
4,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,28,1986-03-27,193,92,Germany,FC Bayern München,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,176580,https://sofifa.com/player/176580/luis-suarez/1...,L. Suárez,Luis Alberto Suárez Díaz,27,1987-01-24,181,81,Uruguay,FC Barcelona,...,67+3,67+3,67+3,67+3,67+3,62+3,57+3,57+3,57+3,62+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15283,199068,https://sofifa.com/player/199068/ashley-bayes/...,A. Bayes,Ashley Bayes,42,1972-04-19,185,85,England,AFC Wimbledon,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15339,211659,https://sofifa.com/player/211659/ho-yeon-cho/1...,Cho Ho Yeon,조호연 Ho Yeon Cho,26,1988-06-05,183,75,Korea Republic,Sangju Sangmu FC,...,44+0,48+0,48+0,48+0,44+0,44+0,47+0,47+0,47+0,44+0
15405,221917,https://sofifa.com/player/221917/simon-manzoni...,S. Manzoni,Simon Manzoni,29,1985-03-28,189,79,Italy,FC Admira Wacker Mödling,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15454,194372,https://sofifa.com/player/194372/mahmut-ertugr...,M. Taşkıran,Mahmut Ertuğrul Taşkıran,24,1989-11-05,191,83,Turkey,Sivasspor,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15455,11728,https://sofifa.com/player/11728/barry-richards...,B. Richardson,Barry Richardson,44,1969-08-05,185,77,England,Wycombe Wanderers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
import numpy as np

In [83]:
t4 = np.where(player['weight_kg']>=80)

In [84]:
t4

(array([    1,     2,     3, ..., 15454, 15459, 15460], dtype=int64),)

In [85]:
print(t4)

(array([    1,     2,     3, ..., 15454, 15459, 15460], dtype=int64),)